*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image:  radial-gradient(circle at 25.82% 116.45%, #00ffff 0, #00e5ff 25%, #00a4f8 50%, #1768a1 75%, #103555 100%);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
}

#resultado{
    width: 207px;
    background-color: white;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

.botao:hover{
    background-color: black;
}